.header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #96deeb;
}

.title {
  margin-left: 40px;
}

.navbar {
  margin-right: 20px;
}

.navbarList {
  display: flex;
  list-style: none;
}

.navbarListItem {
  margin-left: 20px;
  cursor: pointer;
}