.overlay {
  position: fixed;
  top: 128px;// Ajuste conforme a altura do seu header
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(83, 75, 75, 0.7);
  z-index: 100; // Deve ser maior que o conteúdo mas menor que o header
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}
